<% layout('layouts/boilerplate') %>

<div class="row">
    <h1 class="text-center">New Burrito</h1>
    <div class="col-6 offset-3">
        <form class="validated-form" action="/burritos" method="POST" novalidate enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text" id="title" name="burrito[title]" required>
                <div class="valid-feedback">
                    Heard!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>

            <div>
                <input type="file" name="images" id="">
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="restaurant">Restaurant</label>
                <input class="form-control" type="text" id="restaurant" name="burrito[restaurant]" required>
                <div class="valid-feedback">
                    Heard!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input class="form-control" type="text" id="location" name="burrito[location]" required>
                <div class="valid-feedback">
                    Heard!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="price">Burrito Price</label>
                <div class="input-group">
                    <span class="input-group-text" id="price-label">$</span>
                    <input type="text" class="form-control" id="price" placeholder="0.00" aria-label="price" aria-describedby="" name="burrito[price]" required>
                    <div class="valid-feedback">
                        Heard!
                    </div>
                    <div class="invalid-feedback">
                        Required!
                    </div>
                </div>
                
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="image">Image URL</label>
                <input class="form-control" type="text" id="image" name="burrito[image]" required>
                <div class="valid-feedback">
                    Heard!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            

            <div class="mb-3">
                <label class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" id="description" name="burrito[description]" required></textarea>
                <div class="valid-feedback">
                    Heard!
                </div>
                <div class="invalid-feedback">
                    Required!
                </div>
            </div>
            

            <div class="mb-3">
                <button class="btn btn-success">Tell me bout that burro</button>
            </div>
            
        </form>
        <a href="/burritos">Back to Burritos</a>
    </div>
</div>