<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Burrito</title>
</head>
<body>
    <h1>New Burrito</h1>

    <form action="/burritos" method="POST">
        <div>
            <label for="title">Title</label>
            <input type="text" id="title" name="burrito[title]">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" id="location" name="burrito[location]">
        </div>
        <div>
            <label for="restaurant">Restaurant</label>
            <input type="text" id="restaurant" name="burrito[restaurant]">
        </div>
        <button>Tell me bout that burro</button>
    </form>

    <a href="/burritos">Back to Burritos</a>

</body>
</html>