<% layout('layouts/boilerplate') %>

<body>
    
    <h1>YEETOS</h1>

    <a href="/burritos"><h2>Tell me all about that 🌯</h2></a>

    <% if(!currentUser) { %>
        <div>
            <a href="/login">Login</a>
        </div>
        <div>
            <a href="/register">Register</a>
        </div>
        <% } else { %>
        <a href="/logout">Logout, <%= currentUser.username %> </a>
        <% } %> 
    
</body>